.hero{

display:flex;
align-items:center;
justify-content:space-between;

margin-top:80px;

}

.hero-text h1{

font-size:52px;
line-height:1.2;

}

.hero-text span{

background:linear-gradient(135deg,#7C3AED,#06B6D4);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.hero-text p{

margin-top:15px;
color:#64748b;
font-size:18px;

}

.hero-logo{

width:350px;

}

.cta-button{

margin-top:25px;

padding:12px 28px;

border:none;

border-radius:10px;

background:linear-gradient(135deg,#7C3AED,#06B6D4);

color:white;

font-weight:600;

cursor:pointer;

transition:0.3s;

}

.cta-button:hover{

transform:translateY(-4px);

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}